.background-colour{
    background-color: #191919;
}

.grey-bg{
    background-color: #435055;
}

.grey-txt{
    color: #435055;
}

.dark-green{
    background-color: #29A19C;
}

.light-green{
    color:#A3F7BF;
}

.text-colour {
    color: whitesmoke;
}

.card-text-colour {
    color: #29A19C;
}

.card-text-colour2 {
    color: #A3F7BF;
}

.sea-green{
    background-color: #00FFC5;
}

